<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- plugin.xml for the Debug Module Builder, by pit -->
<plugin>	 
  
       
    <!-- builder -->
    <extension id="com.braintribe.devrock.arb.builder.ArtifactReflectionBuilder" name="ArtifactReflectionBuilder" point="org.eclipse.core.resources.builders">
        <builder hasNature="false">
            <run class="com.braintribe.devrock.arb.builder.ArtifactReflectionBuilder">
                <parameter name="optimize" value="true" />
                <parameter name="comment" value="Debug Module Builder" />
            </run>
        </builder>
    </extension>
           
</plugin>
